/* Fuente Satoshi Black */
@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    /* Para especificar el peso de la fuente */
    font-style: normal;
}

/* Fuente Satoshi Bold */
@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Fuente Satoshi Italic */
@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Fuente Satoshi Bold Italic */
@font-face {
    font-family: 'Satoshi';
    src: url('../assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Aplicar Satoshi Black */
body {
    font-family: 'Satoshi', sans-serif;
    font-size: 0.9rem;
}

.canvas {
    width: 600px;
    height: 300px;
}

.cj {
    width: 100px;
    outline: none;
    text-align: center;
}

.btn-main {
    padding: 5px 12px;
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.btn-yes {
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #1967D5;
    font-size: 0.9rem;
    background-color: #E8F0FE;
}