.canvas{
    border: 1px solid black;
    overflow: auto;
}
input{
    width: 50px;
    margin-bottom: 2px;
    padding: 1px;
    font-size: 12px;
    text-align: center;
    outline: none;
}
.btn{
    margin-left: 5px;
}
.cj-input{
    margin-left: 8px;
    background-color: rgb(247, 244, 244);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 5px;
}
h1{
    position: relative;
}
p{
    position: absolute;
    left: 5px;
    top: 40px;
    font-size: 15px;
}
.cj-resultado{
    display: none;
}
